<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Auto change</string>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>Color variation</string>
				<string>Color fade</string>
			</array>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Color change with</string>
			<key>Key</key>
			<string>auto_change</string>
			<key>DefaultValue</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Timer</string>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>Never</string>
				<string>5 minutes</string>
				<string>15 minutes</string>
				<string>30 minutes</string>
				<string>1 hour</string>
				<string>2 hour</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>5</integer>
				<integer>15</integer>
				<integer>30</integer>
				<integer>60</integer>
				<integer>120</integer>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Fade off after</string>
			<key>Key</key>
			<string>timer</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
